search.importcdn.com {
    tls vladimir.guguiev+import-plugin@gmail.com
    proxy / http://names-search-service:8080 {
        transparent
    }
    log /var/log/caddy/search.importcdn.com-access.log
    errors /var/log/caddy/search.importcdn.com-error.log
}

